body {
	font-family: raleway, sans serif;

}
.border-img{
    border:4px solid black;
}
/* .card-border{
	border:4px solid whitesmoke;
} */
/* .bg-about{
    /* background-color:#666666; */
    /* border:4px solid #666666; */
.portfolio{
	background-color: rgb(248, 247, 247);
}
.btn-download {
    background-color:black !important;
	color:white;
}
/* .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
} */
.serv-bg {
	background-color:#1d1c1c;
}
.header {
	background-image:url('images/opo.jpg'); 
	background-repeat: no-repeat;
	background-size: cover;
	height:600px;
}
#img {
	border:2px solid black;
}
.overlay {
	background-color: rgba(0,0,0,0.7);
	height:600px;
	background-size: cover;
	width: 100%;
	right:60%;
}
.active {
	color:white;
}
div ul li a :hover{
	border-bottom: 3px solid white;

}

.footer {
	background-color:#111111;
}
.bg-head {
	position:relative;
	top:35%;
	left:25%;
	color:white;
	
}
hr.line {
	border-radius: 4px solid black;
	border:2px solid black;
	width:5%;
	text-align:center;
}
.bg-text{
	position:relative;
	top:35%;
	left:60%;
	color:white;
}
.margin-left {
	position: relative;
	left:10%;
}